<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title id="title">Birdpress</title>
    <link rel="stylesheet" href="home.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/signup">Sign up</a>
      <a href="/profile">Profile</a>
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
    </nav>
    <main>
      s
    </main>
    <aside class="">
      q
    </aside>
    <%= yield %>
    <footer>g</footer>
  </body>
</html>
