<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>

<h1>Login</h1>
<form action='/login' method='POST'>
    <input type='email' name='email' placeholder='Email' class="inputBox">
    <input type='password' name='password' placeholder='Password' class="inputBox">
    <input type='submit' value='Log in'>
</form>
