<h3 class="titles">Create a post</h3>
<form method="post" action='/posts'>
  <input type="title" placeholder="Title" name="title" class="inputBox"><br>
  <input type="content" placeholder="What's going on in that pea-sized, bird brain of yours?" name="content" class="inputBox">
  <input type="submit" value="Submit">
</form>
