<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <!-- <link rel="stylesheet" href="main.css"> -->
  </head>
  <body>
    <div>
          <h1 class="title" id="proftitle">Profile</h1>
          <nav id='header'>

          </nav>

      <aside class="about">
        <img src="https://miro.medium.com/max/400/1*B8c1ED3QV_yaa6PAWqDgMw.png" alt="profilePhoto" width="150px" height="150px"><br>
        <p id="bio">This is a simple paragraph tag where birds are intended to write a small snippet about themselves. Not that anyone cares.</p>
      </aside>

      <footer id='bottom'>
      </footer>

    </div>

  </body>
</html>
