<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <!-- <link rel="stylesheet" href="main.css"> -->
  </head>
  <body>
    <div>

      <div>
          <h1 class="titles">Profile</h1>
          <nav id='header'>

          </nav>
      </div>

      <main id='section'>
      </main

      <aside id='leftcol'>
        <img src="https://miro.medium.com/max/400/1*B8c1ED3QV_yaa6PAWqDgMw.png" alt="profilePhoto" width="150px" height="150px"><br>
        <p>BIO GOES HERE</p>
      </aside>

      <footer id='bottom'>
      </footer>

    </div>

  </body>
</html>
