<h1 class="title">Sign Up</h1>
<div>
  <form action="/signup" method="post">
    <div class="col-25">
      <input type="username" placeholder="Username" name="user[username]" class="inputBox"><br>
    </div>
    <div class="col-75">
      <input type="email" placeholder="Email" name="user[email]" class="inputBox"><br>
    </div>
    <div class="col-25">
      <input type="password" placeholder="Password" name="user[password]" class="inputBox"><br>
    </div>
    <div class="col-75">
      <input type="Submit" placeholder="Submit"><br>
    </div>
  </form>
</div>



<% if flash[:error] %>
  <% flash[:error].each do |k, v| %>
  <% end %>
<% end %>
