<h1>Sign Up</h1>
<form action="/signup" method="post">
  <!-- <input type="username" placeholder="Username" name="user[name]"><br> -->
  <input type="email" placeholder="Email" name="user[email]"><br>
  <input type="password" placeholder="Password" name="user[password]"><br>
  <input type="Submit" placeholder="Submit"><br>
</form>



<% if flash[:error] %>
  <% flash[:error].each do |k, v| %>
  <% end %>
<% end %>
