body {
  display: grid;
  grid-template-areas: 'nav nav nav' 'main main aside' 'footer footer aside';
  grid-template-rows: 33vh 33vh 33.333vh;
  grid-template-columns: 33vh 33vh 33vh;
  overflow-x: hidden;
}

#header {
  grid-area: nav;
  color: thistle;
}

#section {
  grid-area: main;
  color: lightblue;
}

#leftcol {
  grid-area: aside;
  color: lightpink;
}

#bottom {
  grid-area: footer;
  color: lightyellow;
}
